<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>
  <body>
    <div class="layer"></div>
    <main class="page-center">
      <article class="sign-up">
        <h1 class="sign-up__title">Assalomu Aleykum!</h1>
        <p class="sign-up__subtitle">
          Shaxsiy hisobingizga ulaning va davom eting,
        </p>
        <form
          class="sign-up-form form"
          action="/signInPost"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <label class="form-label-wrapper">
            <p class="form-label">Email</p>
            <input
              class="form-input"
              type="text"
              placeholder="Emailni kiriting"
              name="admin_email"
              required
            />
          </label>
          <label class="form-label-wrapper">
            <p class="form-label">Parol</p>
            <input
              class="form-input"
              type="password"
              placeholder="Passwordni kiriting"
              name="admin_password"
              required
            />
          </label>
          <button
            class="form-btn primary-default-btn transparent-btn"
            type="submit"
          >
            Kirish
          </button>
          <a class="link-info forget-link" href="/signUp"
            >Shaxsiy hisobingiz mavjud emasmi?
          </a>
        </form>
      </article>
    </main>
    <!-- Scripts -->
    <%- include("./components/scripts") %>
  </body>
</html>
