<footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>
        2023 ©<span class="fw-bold">IONEED </span>
        <span class="text-primary">newgen learning platform</span>
      </p>
    </div>
    <ul class="footer-end">
      <li><a href="https://t.me/Ioneed_io">About</a></li>
      <li><a href="https://t.me/detergents1">Support</a></li>
    </ul>
  </div>
</footer>
